Repository marko-js/micro-frame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write -u

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write -u"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write -u"]
}

feat: use node_module browser-remaps instead of local package.json (#20)
  .eslintignore
  .gitignore
  .lintstagedrc.json
  .prettierignore
  build.ts
  src/components/micro-frame-slot/index.marko
  src/components/micro-frame/component/package.json
  src/components/micro-frame/index.marko
  src/components/stream-source/component/StreamSource.ts
  src/components/stream-source/component/StreamWritable.ts
  src/components/stream-source/component/helper.ts
  src/components/stream-source/component/package.json
  src/components/stream-source/index.marko
  src/node_modules/@internal/micro-frame-component/node.marko
  src/node_modules/@internal/micro-frame-component/package.json
  src/node_modules/@internal/micro-frame-component/web.component.ts
  src/node_modules/@internal/micro-frame-component/web.marko
  src/node_modules/@internal/micro-frame-slot-component/node.marko
  src/node_modules/@internal/micro-frame-slot-component/package.json
  src/node_modules/@internal/micro-frame-slot-component/web.component.ts
  src/node_modules/@internal/micro-frame-slot-component/web.marko
  src/node_modules/@internal/stream-source-component/node.marko
  src/node_modules/@internal/stream-source-component/package.json
  src/node_modules/@internal/stream-source-component/web.component.ts
  src/node_modules/@internal/stream-source-component/web.marko
  src/util/stream.ts
Due: eslint --fix, prettier --write -u

Notes added by 'git notes add'
  00e60eff1b2e1346fbb66f8de78ba279bf17f05a
Due: none

fix: avoid export default for component file
  src/node_modules/@internal/stream-source-component/package.json
  src/node_modules/@internal/stream-source-component/web.component.ts
Due: eslint --fix, prettier --write -u

chore: ensure prettier runs on internal node_modules
  .lintstagedrc.json
  package-lock.json
  package.json
  src/node_modules/@internal/micro-frame-slot-component/web.component.ts
Due: eslint --fix, prettier --write -u

chore: ensure github shows diffs for @internal modules
  .gitattributes
Due: none

Fix stream source for marko 4 (#21)
  .gitattributes
  .lintstagedrc.json
  package-lock.json
  package.json
  src/node_modules/@internal/micro-frame-slot-component/web.component.ts
  src/node_modules/@internal/stream-source-component/package.json
  src/node_modules/@internal/stream-source-component/web.component.ts
Due: eslint --fix, prettier --write -u

fix: upgrade deps
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-only/renders.expected/loading.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-only/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-only/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-only/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-only/renders.expected/loading.5.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-only/renders.expected/loading.6.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-only/renders.expected/loading.7.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-only/renders.expected/loading.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-only/renders.expected/loading.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-only/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-only/renders.expected/loading.3.html
  src/components/micro-frame/__tests__/__snapshots__/csr-only/renders.expected/loading.1.html
  src/components/micro-frame/__tests__/__snapshots__/csr-only/renders.expected/loading.2.html
  src/components/micro-frame/__tests__/__snapshots__/ssr-only/renders.expected/loading.0.html
  src/components/micro-frame/__tests__/__snapshots__/ssr-only/renders.expected/loading.1.html
  tsconfig.json
Due: prettier --write -u

fix: upgrade deps (#22)
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-only/renders.expected/loading.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-only/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-only/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-only/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-only/renders.expected/loading.5.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-only/renders.expected/loading.6.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-only/renders.expected/loading.7.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-only/renders.expected/loading.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-only/renders.expected/loading.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-only/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-only/renders.expected/loading.3.html
  src/components/micro-frame/__tests__/__snapshots__/csr-only/renders.expected/loading.1.html
  src/components/micro-frame/__tests__/__snapshots__/csr-only/renders.expected/loading.2.html
  src/components/micro-frame/__tests__/__snapshots__/ssr-only/renders.expected/loading.0.html
  src/components/micro-frame/__tests__/__snapshots__/ssr-only/renders.expected/loading.1.html
  tsconfig.json
Due: prettier --write -u

Notes added by 'git notes add'
  e9eba7d17204cd34e8d2d11b6565bddfec9a6238
Due: none

fix: event property key is wrong in parseEvent
  src/components/micro-frame-sse/README.md
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/custom-read/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/custom-read/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/fixtures/custom-read/index.marko
  src/components/micro-frame-sse/parser.ts
  src/util/stream.ts
Due: eslint --fix, prettier --write -u

refactor: remove isArray check
  src/util/stream.ts
Due: eslint --fix, prettier --write -u

fix: event type bug and allow custom read to skip events (#23)
  src/components/micro-frame-sse/README.md
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/custom-read/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/custom-read/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/fixtures/custom-read/index.marko
  src/components/micro-frame-sse/parser.ts
  src/util/stream.ts
Due: eslint --fix, prettier --write -u

Notes added by 'git notes add'
  b9e9159df9b10f9b4595f4e0b90bcdbdc0d88489
Due: none

fix: add missing script to micro-frame-slot
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-404/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-404/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-404/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-404/renders.expected/loading.5.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-404/renders.expected/loading.6.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-behind-reorder/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-behind-reorder/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-behind-reorder/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-behind-reorder/renders.expected/loading.5.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-behind-reorder/renders.expected/loading.6.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-timeout/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-timeout/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-timeout/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-timeout/renders.expected/loading.5.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-timeout/renders.expected/loading.6.html
  src/components/micro-frame-sse/__tests__/fixtures/ssr-timeout/index.marko
  src/node_modules/@internal/micro-frame-slot-component/node.marko
Due: none

fix: add missing script to micro-frame-slot (#24)
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-404/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-404/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-404/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-404/renders.expected/loading.5.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-404/renders.expected/loading.6.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-behind-reorder/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-behind-reorder/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-behind-reorder/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-behind-reorder/renders.expected/loading.5.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-behind-reorder/renders.expected/loading.6.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-timeout/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-timeout/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-timeout/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-timeout/renders.expected/loading.5.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-timeout/renders.expected/loading.6.html
  src/components/micro-frame-sse/__tests__/fixtures/ssr-timeout/index.marko
  src/node_modules/@internal/micro-frame-slot-component/node.marko
Due: none

Notes added by 'git notes add'
  bfa70fa1b1783b3202c008c05ea1eab2b2c94642
Due: none

fix: show loading only before first trunk
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-stream-loading/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-stream-loading/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-stream-loading/renders.expected/loading.6.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-slot-done-signal/renders.expected/loading.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-slot-done-signal/renders.expected/loading.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-slot-done-signal/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-slot-done-signal/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-slot-done-signal/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-slot-done-signal/renders.expected/loading.5.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-stream-loading/renders.expected/loading.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-stream-loading/renders.expected/loading.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-stream-loading/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-stream-loading/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-stream-loading/renders.expected/loading.5.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-stream-loading/renders.expected/loading.6.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-stream-loading/renders.expected/loading.7.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-stream-loading/renders.expected/loading.8.html
  src/components/micro-frame-sse/__tests__/fixtures/ssr-stream-loading/embed.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-stream-loading/index.marko
  src/node_modules/@internal/micro-frame-slot-component/node.marko
  src/node_modules/@internal/micro-frame-slot-component/web.component.ts
Due: eslint --fix, prettier --write -u

feat: allow slot reorder after first chunk
  src/components/micro-frame-slot/marko-tag.json
  src/components/micro-frame-sse/README.md
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-reorder-after-first-chunk/renders.expected/loading.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-reorder-after-first-chunk/renders.expected/loading.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-reorder-after-first-chunk/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-reorder-after-first-chunk/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-reorder-after-first-chunk/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-reorder-after-first-chunk/renders.expected/loading.5.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-reorder-after-first-chunk/renders.expected/loading.6.html
  src/components/micro-frame-sse/__tests__/fixtures/ssr-reorder-after-first-chunk/embed.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-reorder-after-first-chunk/index.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-reorder-after-first-chunk/slot_1.html
  src/components/micro-frame-sse/__tests__/fixtures/ssr-reorder-after-first-chunk/slot_2.html
  src/components/micro-frame-sse/__tests__/server.test.ts
  src/node_modules/@internal/micro-frame-slot-component/node.marko
Due: eslint --fix, prettier --write -u

refactor: remove logic that clears element attrs
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr-change-src/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr-change-src/renders.expected/step-0.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr-change-src/renders.expected/step-0.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr-change-src/renders.expected/step-0.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr-change-src/renders.expected/step-0.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr/renders.expected/loading.5.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-toggle-slot/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-toggle-slot/renders.expected/step-0.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-toggle-slot/renders.expected/step-1.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-toggle-slot/renders.expected/step-2.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-toggle/renders.expected/loading.4.html
  src/node_modules/@internal/micro-frame-slot-component/web.component.ts
  src/node_modules/@internal/stream-source-component/web.component.ts
Due: eslint --fix, prettier --write -u

refactor: remove logic that clears element attrs (#27)
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr-change-src/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr-change-src/renders.expected/step-0.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr-change-src/renders.expected/step-0.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr-change-src/renders.expected/step-0.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr-change-src/renders.expected/step-0.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr/renders.expected/loading.5.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-toggle-slot/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-toggle-slot/renders.expected/step-0.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-toggle-slot/renders.expected/step-1.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-toggle-slot/renders.expected/step-2.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-toggle/renders.expected/loading.4.html
  src/node_modules/@internal/micro-frame-slot-component/web.component.ts
  src/node_modules/@internal/stream-source-component/web.component.ts
Due: eslint --fix, prettier --write -u

fix: remove logic that clears element attrs (#27)
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr-change-src/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr-change-src/renders.expected/step-0.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr-change-src/renders.expected/step-0.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr-change-src/renders.expected/step-0.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr-change-src/renders.expected/step-0.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-csr/renders.expected/loading.5.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-toggle-slot/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-toggle-slot/renders.expected/step-0.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-toggle-slot/renders.expected/step-1.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-toggle-slot/renders.expected/step-2.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-then-toggle/renders.expected/loading.4.html
  src/node_modules/@internal/micro-frame-slot-component/web.component.ts
  src/node_modules/@internal/stream-source-component/web.component.ts
Due: eslint --fix, prettier --write -u

Notes added by 'git notes add'
  0310d4ea8e4b240ba47217d34d85bdd276ae5caa
Due: none

feat: allow slot reorder after first chunk (#26)
  src/components/micro-frame-slot/marko-tag.json
  src/components/micro-frame-sse/README.md
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-reorder-after-first-chunk/renders.expected/loading.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-reorder-after-first-chunk/renders.expected/loading.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-reorder-after-first-chunk/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-reorder-after-first-chunk/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-reorder-after-first-chunk/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-reorder-after-first-chunk/renders.expected/loading.5.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-reorder-after-first-chunk/renders.expected/loading.6.html
  src/components/micro-frame-sse/__tests__/fixtures/ssr-reorder-after-first-chunk/embed.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-reorder-after-first-chunk/index.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-reorder-after-first-chunk/slot_1.html
  src/components/micro-frame-sse/__tests__/fixtures/ssr-reorder-after-first-chunk/slot_2.html
  src/components/micro-frame-sse/__tests__/server.test.ts
  src/node_modules/@internal/micro-frame-slot-component/node.marko
Due: eslint --fix, prettier --write -u

Notes added by 'git notes add'
  4473bc84f242a73ff393eb1ea8da98ae99c2dd40
Due: none

fix: properly handle source name change
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-change-src-and-name/renders.expected/loading.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-change-src-and-name/renders.expected/loading.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-change-src-and-name/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-change-src-and-name/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-change-src-and-name/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-change-src-and-name/renders.expected/step-0.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-change-src-and-name/renders.expected/step-0.1.html
  src/components/micro-frame-sse/__tests__/fixtures/ssr-change-src-and-name/components/app.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-change-src-and-name/embed.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-change-src-and-name/embed_2.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-change-src-and-name/index.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-change-src-and-name/slot_1.html
  src/components/micro-frame-sse/__tests__/fixtures/ssr-change-src-and-name/slot_2.html
  src/node_modules/@internal/micro-frame-slot-component/web.component.ts
  src/node_modules/@internal/stream-source-component/web.component.ts
Due: eslint --fix, prettier --write -u

feat: sse slot no-refresh option
  src/components/micro-frame-slot/marko-tag.json
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-no-refresh/renders.expected/loading.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-no-refresh/renders.expected/loading.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-no-refresh/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-no-refresh/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-no-refresh/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-no-refresh/renders.expected/step-0.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-no-refresh/renders.expected/step-0.1.html
  src/components/micro-frame-sse/__tests__/fixtures/ssr-no-refresh/components/app.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-no-refresh/embed.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-no-refresh/embed_2.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-no-refresh/index.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-no-refresh/slot_1.html
  src/components/micro-frame-sse/__tests__/fixtures/ssr-no-refresh/slot_2.html
  src/components/micro-frame-sse/__tests__/server.test.ts
  src/node_modules/@internal/micro-frame-slot-component/web.component.ts
Due: eslint --fix, prettier --write -u

docs: update readme
  src/components/micro-frame-sse/README.md
Due: prettier --write -u

refactor: bind this only once per component instance
  src/node_modules/@internal/micro-frame-slot-component/web.component.ts
Due: eslint --fix, prettier --write -u

feat: better ways to control src change and slot refreshing logic (#28)
  src/components/micro-frame-slot/marko-tag.json
  src/components/micro-frame-sse/README.md
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-change-src-and-name/renders.expected/loading.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-change-src-and-name/renders.expected/loading.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-change-src-and-name/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-change-src-and-name/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-change-src-and-name/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-change-src-and-name/renders.expected/step-0.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-change-src-and-name/renders.expected/step-0.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-no-refresh/renders.expected/loading.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-no-refresh/renders.expected/loading.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-no-refresh/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-no-refresh/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-no-refresh/renders.expected/loading.4.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-no-refresh/renders.expected/step-0.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-no-refresh/renders.expected/step-0.1.html
  src/components/micro-frame-sse/__tests__/fixtures/ssr-change-src-and-name/components/app.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-change-src-and-name/embed.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-change-src-and-name/embed_2.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-change-src-and-name/index.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-change-src-and-name/slot_1.html
  src/components/micro-frame-sse/__tests__/fixtures/ssr-change-src-and-name/slot_2.html
  src/components/micro-frame-sse/__tests__/fixtures/ssr-no-refresh/components/app.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-no-refresh/embed.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-no-refresh/embed_2.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-no-refresh/index.marko
  src/components/micro-frame-sse/__tests__/fixtures/ssr-no-refresh/slot_1.html
  src/components/micro-frame-sse/__tests__/fixtures/ssr-no-refresh/slot_2.html
  src/components/micro-frame-sse/__tests__/server.test.ts
  src/node_modules/@internal/micro-frame-slot-component/web.component.ts
  src/node_modules/@internal/stream-source-component/web.component.ts
Due: eslint --fix, prettier --write -u

Notes added by 'git notes add'
  2bb33a378778e3e437832f5b0b64e09240dc9823
Due: none

feat: support proxy headers
  src/node_modules/@internal/micro-frame-component/node.marko
  src/node_modules/@internal/stream-source-component/node.marko
Due: none

feat: support proxy headers (#30)
  src/node_modules/@internal/micro-frame-component/node.marko
  src/node_modules/@internal/stream-source-component/node.marko
Due: none

Notes added by 'git notes add'
  bea6faa62fd378eb2b25ad34213e54c569611b92
Due: none

fix: fix an issue for client side stream
  src/node_modules/@internal/micro-frame-slot-component/web.component.ts
  src/node_modules/@internal/stream-source-component/web.component.ts
  src/util/stream.ts
  tsconfig.json
Due: eslint --fix, prettier --write -u

refactor: use better name
  src/util/stream.ts
Due: eslint --fix, prettier --write -u

fix: default to nodes config for global ca
  src/node_modules/@internal/micro-frame-component/node.marko
  src/node_modules/@internal/stream-source-component/node.marko
Due: none

fix: ensure node exists before clearing on error
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-404/renders.expected/loading.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-404/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-behind-reorder/renders.expected/loading.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-behind-reorder/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/ssr-timeout/renders.expected/loading.2.html
  src/node_modules/@internal/micro-frame-component/node.marko
  src/node_modules/@internal/micro-frame-slot-component/node.marko
Due: none
