Repository marko-js/micro-frame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write -u --with-node-modules

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write -u --with-node-modules"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write -u --with-node-modules"]
}

Notes added by 'git notes add'
  9567d57bc5e9373a96a7f465e4a19b31d6448da1
Due: none

fix: avoid trailing comma in await for marko@4
  src/node_modules/@internal/stream-source-component/node.marko
Due: none

Notes added by 'git notes add'
  f2a3e92b06ad51d47d800c7a5fe3cc10f0a2de66
Due: none

fix: avoid using macro tag
  src/node_modules/@internal/micro-frame-component/components/ssr-wait.marko
  src/node_modules/@internal/micro-frame-component/node.marko
  src/node_modules/@internal/micro-frame-slot-component/components/ssr-wait.marko
  src/node_modules/@internal/micro-frame-slot-component/node.marko
Due: none

chore: add test
  src/components/micro-frame/__tests__/__snapshots__/ssr-then-csr-with-flush/renders.expected/loading.0.html
  src/components/micro-frame/__tests__/__snapshots__/ssr-then-csr-with-flush/renders.expected/loading.1.html
  src/components/micro-frame/__tests__/__snapshots__/ssr-then-csr-with-flush/renders.expected/loading.2.html
  src/components/micro-frame/__tests__/__snapshots__/ssr-then-csr-with-flush/renders.expected/loading.3.html
  src/components/micro-frame/__tests__/__snapshots__/ssr-then-csr-with-flush/renders.expected/loading.4.html
  src/components/micro-frame/__tests__/__snapshots__/ssr-then-csr-with-flush/renders.expected/loading.5.html
  src/components/micro-frame/__tests__/fixtures/ssr-then-csr-with-flush/components/app.marko
  src/components/micro-frame/__tests__/fixtures/ssr-then-csr-with-flush/embed.marko
  src/components/micro-frame/__tests__/fixtures/ssr-then-csr-with-flush/index.marko
  src/components/micro-frame/__tests__/server.test.ts
Due: eslint --fix, prettier --write -u --with-node-modules

Notes added by 'git notes add'
  159e273ba658e78e58c3301c64e3f7a0eabd867f
Due: none

feat: support client reorder attribute
  README.md
  src/components/micro-frame/__tests__/__snapshots__/ssr-client-reorder-loading/renders.expected/loading.0.html
  src/components/micro-frame/__tests__/__snapshots__/ssr-client-reorder-loading/renders.expected/loading.1.html
  src/components/micro-frame/__tests__/__snapshots__/ssr-client-reorder-loading/renders.expected/loading.2.html
  src/components/micro-frame/__tests__/fixtures/ssr-stream-client-reorder/embed.marko
  src/components/micro-frame/__tests__/fixtures/ssr-stream-client-reorder/index.marko
  src/components/micro-frame/__tests__/server.test.ts
  src/components/micro-frame/marko-tag.json
  src/node_modules/@internal/micro-frame-component/node.marko
  src/node_modules/@internal/micro-frame-component/web.component.ts
Due: eslint --fix, prettier --write -u --with-node-modules

Notes added by 'git notes add'
  3514badae47b6f52b8ad231f8682a3c733f2f18b
Due: none

fix: ignore error if stream is ended
  src/util/stream.ts
Due: eslint --fix, prettier --write -u --with-node-modules

test: add unit test
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-slot-done-and-error/renders.expected/loading.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-slot-done-and-error/renders.expected/loading.1.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-slot-done-and-error/renders.expected/loading.2.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-slot-done-and-error/renders.expected/loading.3.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-slot-done-and-error/renders.expected/step-0.0.html
  src/components/micro-frame-sse/__tests__/__snapshots__/micro-frame-sse/csr-slot-done-and-error/renders.expected/step-0.1.html
  src/components/micro-frame-sse/__tests__/fixtures/csr-slot-done-and-error/components/app.marko
  src/components/micro-frame-sse/__tests__/fixtures/csr-slot-done-and-error/embed.marko
  src/components/micro-frame-sse/__tests__/fixtures/csr-slot-done-and-error/index.marko
  src/components/micro-frame-sse/__tests__/fixtures/csr-slot-done-and-error/slot_1.html
  src/components/micro-frame-sse/__tests__/fixtures/csr-slot-done-and-error/slot_2.html
  src/components/micro-frame-sse/__tests__/server.test.ts
  src/util/stream.ts
Due: eslint --fix, prettier --write -u --with-node-modules

test: fix tests
  src/components/micro-frame-sse/__tests__/fixtures/csr-slot-done-and-error/components/app.marko
  src/components/micro-frame-sse/__tests__/fixtures/csr-slot-done-and-error/embed.marko
Due: none

Notes added by 'git notes add'
  227c5b9c54501bf08e463005e179e489b69b5024
Due: none

chore: update readme
  README.md
Due: prettier --write -u --with-node-modules

fix(docs): use relative URL instead of GitHub link
  README.md
Due: prettier --write -u --with-node-modules

chore: Update README
  README.md
Due: prettier --write -u --with-node-modules

chore: Correct dead CODE_OF_CONDUCT link
  .github/CODE_OF_CONDUCT.md
Due: prettier --write -u --with-node-modules

fix: improve repsonse body normalization
  src/node_modules/@internal/micro-frame-component/node.marko
  src/node_modules/@internal/stream-source-component/node.marko
  src/util/consume-body.ts
Due: eslint --fix, prettier --write -u --with-node-modules

Notes added by 'git notes add'
  86b1ae88421efe8da72dc6bb5b17432245ee451e
Due: none

fix: diffing issue when hydrating before loaded
  src/node_modules/@internal/micro-frame-component/node.marko
  src/node_modules/@internal/micro-frame-component/web.marko
Due: none

chore: update ci
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: prettier --write -u --with-node-modules

Notes added by 'git notes add'
  619cd6b614d0c500766b88dd766f51e6efc737eb
Due: none

fix: ensure inorder loading content always wrapped in comment
  src/components/micro-frame/__tests__/__snapshots__/ssr-stream-loading.expected.md
  src/node_modules/@internal/micro-frame-component/components/ssr-wait.marko
  src/node_modules/@internal/micro-frame-component/node.marko
Due: prettier --write -u --with-node-modules

Notes added by 'git notes add'
  e2a394f5313c9e258831211ecc078c00cb4154b7
Due: none
